@model Pook.Web.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>

    <h2>Progressions</h2>
    @foreach (var progressionSection in Model.ProgressionSections)
    {
        <h4>
            @progressionSection.Book 
            (@Html.ActionLink(progressionSection.PageProgress.ToString(), "PageProgress", "Progression", new { userId = Model.User.Id, bookId = progressionSection.BookId }, null))
        </h4>
        <table class="table table-condensed">
            <tbody>
                @foreach (var progression in progressionSection.Progressions)
                {
                    <tr class="col-md-10">
                        <td class="col-md-6">@progression.Status.Title</td>
                        <td class="col-md-6">@progression.Date.ToString("dd-MMM-yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h2>Notes</h2>
    @foreach (var noteSection in Model.NoteSections)
    {
        <h4>@noteSection.Book</h4>
        <table class="table table-condensed">
            <tbody>
                @foreach (var note in noteSection.Notes)
                {
                    <tr class="col-md-10">
                        <td class="col-md-4">@note.Page</td>
                        <td class="col-md-4">@note.Title</td>
                        <td class="col-md-4">
                            @Html.ActionLink("Edit", "Edit", "Note", new { id = @note.NoteId }, null) |
                            @Html.ActionLink("Details", "Details", "Note", new { id = @note.NoteId }, null) |
                            @Html.ActionLink("Delete", "Delete", "Note", new { id = @note.NoteId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
