@model Pook.Web.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="user-details">
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!string.IsNullOrEmpty(Model.User.FirstName))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.User.LastName))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.User.Description))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Description)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.User.Address))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Address)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.User.Email))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.User.UserName))
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
        }
    </dl>

    <h2>Progressions</h2>
    @foreach (var progressionSection in Model.ProgressionSections)
    {
        <h4>
            @progressionSection.Book
        </h4>
        <table class="table table-condensed">
            <tbody>
                @foreach (var progression in progressionSection.Progressions)
                {
                    <tr class="col-md-10">
                        <td class="col-md-6">
                            @if (progression.StatusTitle == "Current")
                            {
                                @progression.Page
                            }
                            else
                            {
                                @progression.StatusTitle
                            }
                        </td>
                        <td class="col-md-6">@progression.Date.ToString("dd-MMM-yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h2>Notes</h2>
    @foreach (var noteSection in Model.NoteSections)
    {
        <h4>@noteSection.Book</h4>
        <table class="table table-condensed">
            <tbody>
                @foreach (var note in noteSection.Notes)
                {
                    <tr class="col-md-12">
                        <td class="col-md-2">@note.Page</td>
                        <td class="col-md-6">@note.Title</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Note", new { id = @note.Id }, null) |
                            @Html.ActionLink("Details", "Details", "Note", new { id = @note.Id }, null) |
                            @Html.ActionLink("Delete", "Delete", "Note", new { id = @note.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
