@model IEnumerable<Pook.Service.Models.Books.BookList>

@{
    ViewBag.Title = "Index";
}

<h2>Bookmarked (@Model.Count())</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Category
        </th>
        <th>
            Nb of pages
        </th>
        <th>
            Release Date
        </th>
        <th>
            Bookmarked On
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progression.Date)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("UnBookmark", "UnBookmark", new { id = item.Id })
            </td>
        </tr>
    }

</table>
