@model IEnumerable<Pook.Service.Models.Books.BookList>

@{
    ViewBag.Title = "All Books";
}

<h2>All books (@Model.Count())</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Category
        </th>
        <th>
            Nb of pages
        </th>
        <th>
            Release Date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Title)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                @if (item.Status.Title == "N/A")
                {
                    @: |
                    @Html.ActionLink("Bookmark", "Bookmark", new { id = item.Id })

                }
            </td>
        </tr>
    }

</table>
