@model Pook.Data.Entities.Book

@{
    ViewBag.Title = "UnBookmark";
}

<h2>UnBookmark</h2>

<h3>Are you sure you want to unbookmark this?</h3>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Category?.Title))
        {
            <dt>
                Category
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Title)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Editor?.Title))
        {
            <dt>
                Editor
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Editor.Title)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Firm?.Title))
        {
            <dt>
                Firm
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Firm.Title)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="UnBookmark" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
