@model Pook.Web.Models.ProgressionSearch

@{
    ViewBag.Title = "Progressions By Date";
}

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<h2>Progressions By Date</h2>

<div class="panel-body">
    @using (Ajax.BeginForm("Search", "Progression", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        UpdateTargetId = "searchresults",
    }))
    {
        <div class="form-group col-lg-12">
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.BookId, Model.Books, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.StatusId, Model.Statuses, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
    <div id="searchresults">
        @Html.Partial("Search", Model.Progressions)
    </div>
</div>
