@model IEnumerable<Pook.Data.Entities.Progression>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel-body">
    @using (Ajax.BeginForm("Search", "Progression",
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                    UpdateTargetId = "searchresults",
                                }))
    {
        <div class="form-group col-lg-12">
            <div class="col-md-3">
                @Html.DropDownList("bookId", null, new {@class = "form-control"})
            </div>
            <div class="col-md-3">
                @Html.DropDownList("statusId", null, new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                @Html.Editor("startDate", null, new {htmlAttributes = new {@class = "form-control"}})
            </div>
            <div class="col-md-2">
                @Html.Editor("endDate", null, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                <input type="submit" value="search" class="btn btn-default" />
            </div>
        </div>
    }
    <div id="searchresults">
        @Html.Partial("Search", @Model)
    </div>
</div>
