@model IEnumerable<Pook.Data.Entities.Progression>

<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tr class="col-md-11">
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Status.Title)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
<h3>@Model.Count() items</h3>