@model IEnumerable<Pook.Data.Entities.Progression>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProgressionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProgressionId })
            </td>
        </tr>
    }

</table>