@model IEnumerable<Pook.Web.Models.NoteSection>

@{
    ViewBag.Title = "Notes By Book";
}

<h2>Notes By Book</h2>

<div class="user-details">
    @foreach (var noteSection in Model)
    {
        <h4>
            @Html.ActionLink(@noteSection.Book, "PageNote", "Note", new
            {
                userId = noteSection.Notes.First().UserId,
                bookId = noteSection.Notes.First().BookId
            }, null)
        </h4>
        <table class="table table-condensed">
            <tbody>
            @foreach (var note in noteSection.Notes)
            {
                <tr class="col-md-11">
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => note.Page)
                    </td>
                    <td class="col-md-7">
                        @Html.DisplayFor(modelItem => note.Title)
                    </td>
                    <td class="col-md-3">
                        @Html.ActionLink("Edit", "Edit", new {id = note.Id}) |
                        @Html.ActionLink("Details", "Details", new {id = note.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = note.Id})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

