@model Pook.Service.Models.Notes.Note

@{
    ViewBag.Title = "Details";
}

<h2>@Model.BookTitle (@Model.Page)</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    @Html.Raw(Model.Description)
    <br/>
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Book", "PageNote", "Note", new
    {
        userId = Model.UserId,
        bookId = Model.BookId
    }, null) |
    @Html.ActionLink("Back to List", "ByBook")
</p>
