@model Pook.Data.Entities.Note

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Book.Title (@Model.Page)</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    @Html.Raw(Model.Description)
    <br/>
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ByBook")
</p>
