@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        string env = WebConfigurationManager.AppSettings["Environment"];
    }
    @if (env == "dev")
    {
        <link href="~/Content/Site.dev.css" rel="stylesheet" />
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pook", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Book", "Index", "Book")</li>
                    <li>@Html.ActionLink("Note", "Index", "Note")</li>
                    <li>@Html.ActionLink("Progression", "Index", "Progression")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pook</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            menubar: false,
            // Theme options
            toolbar: "fontselect |  fontsizeselect | bold italic | bullist numlist | undo redo",
            setup: function (ed) {
                ed.on('init', function () {
                    this.getDoc().body.style.fontSize = '13pt';
                    this.getDoc().body.style.fontFamily = 'Book Antiqua';
                });
            },
            fontsize_formats: "8pt 10pt 12pt 13pt 14pt 18pt 24pt 36pt"
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, 'DD-MM-YYYY').isValid();
            };
        });
    </script>
</body>
</html>
